@page
@model Restaurante.Pages.Pages.Index
@using System.Globalization

<link rel="stylesheet" href="~/lib/css/estilo.css"/>

<div class="home">
<h1>Mesas Cadastradas</h1>



</div>


    
